<% @back = "/patients/#{params[:patient_id]}" %>
<% @title = "Comparaison" %>


<p class="text-center">J+1</p>
<div class="text-center"><em><%= @patient.visites.first.date %></em></div>
<% @patient.visites.first.images.each do |photo| %>
	<%= link_to "https://res.cloudinary.com/zepri/image/upload/#{photo.path}" do %>
		<%= cl_image_tag photo.path, style: "margin:auto;width:60%;" %>
	<% end %>
<% end %>
<br>
<p class="text-center">Dernière visite</p>
<div class="text-center"><em><%= @patient.visites.last.date %></em></div>
<% @patient.visites.last.images.each do |photo| %>
	<%= link_to "https://res.cloudinary.com/zepri/image/upload/#{photo.path}" do %>
		<%= cl_image_tag photo.path, style: "margin:auto;width:60%;" %>
	<% end %>
<% end %>
