<% @first = {link: "/patients/#{params[:patient_id]}", show: true} %>
<% @second = "Visites" %>
<% @third = {show: false} %>

    <% @visites.where(:patient_id => params[:patient_id]).each do |visite| %>
    
    <div style="margin:auto;width:40%;border-bottom:solid 1px;">
      <h4>Visite <%= visite.date %></h4>
      
      <p>
        <strong>Stade: </strong>
          <%= visite.stade %><br>
            COMMENTAIRES
      </p>

      <p>
        Longueur = <%= visite.longeur %><br>
        Largeur = <%= visite.largeur %><br>
        Profondeur = <%= visite.profondeur %><br>
        Douleur = <%= visite.echelle %>
          <% visite.images.each do |photo| %>
            <%= link_to "https://res.cloudinary.com/zepri/image/upload/#{photo.path}" do %>
            <%= cl_image_tag photo.path, style: "width:100%;" %>
            <% end %>
          <% end %>
      </p>
    </div>
    
    <% end %>