<!DOCTYPE html>
<html>
  <head>
    <title>InfirmApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>

  </head>

  <body class='bg-gray-300'>

    <%= render 'layouts/header'%>
      <main>
    	  <%= yield %>
      </main>
    <%= render 'layouts/navbar'%>

  </body>

</html>
